$color-primary: #3369f3;
$color-secondary: #efefef;
$color-border: #eaeaea;
$color-text: #999;
$color-danger: red;

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;

    &__header {
        &-img {
            width: 8.125em;
            height: 8.125em;
            border-radius: 50%;
            background-color: $color-secondary;
            object-fit: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-title {
            font-size: 1.5em;
            margin-bottom: 0;
            color: $color-primary;
        }
    }

    &__body {
        width: inherit;
        margin-bottom: 2rem;

        &-info {
            &-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.8em;
                font-weight: 500;
                border-bottom: 1px solid $color-border;
            }

            &-list:last-child {
                border-bottom: 0;
            }

            &-content {
                color: $color-text;
                border: 0;
                font-size: 1em;
                text-align: right;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    &__footer {
        &-actions {
            list-style: none;
            text-align: left;
        }

        &-item {
            padding: 0.8em;
            border-bottom: 1px solid $color-border;
        }

        &-item:last-child {
            border-bottom: 0;

            a {
                color: $color-danger;
            }
        }

        &-buttons {
            display: flex;
            justify-content: center;
        }
    }
}
