$color-modules-border: #3369f3;

.modules {
    .modal {
        .modal-content {
            > div.input input {
                border-bottom: 1px solid $color-modules-border;
                visibility: visible;
            }
        }
    }
}
